$white: #ffffff;
$black: #000000;
$orange: #ff5816;
$blue: #4673ab;
$widthMobile: 320px;
$widthTablet: 750px;
$widthDesktop: 970px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$roboto: "Roboto",
"Arial",
sans-serif;
